{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'admin/css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <span class="logo">
        {% block breadcrumb %}
          <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Kureta</a></li>
          </ul>
        {% endblock breadcrumb %}
      </span>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
