{% extends 'base.html' %}

{% load i18n static %}

{% block title %}{% translate 'Base site' %}{% endblock %}

{% block content %}
  <div class="row gutters">
    {% block side_panel %}
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body d-flex justify-content-center">
            {% block side_panel_body %}{% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            {% block main_content %}{% endblock %}
          </div>
        </div>
      </div>
  </div>
{% endblock %}
