{% for contact in obj %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br>
    ...
{% endfor %}

Total amount: {{ amount }}

<div class="pagination">
    <span class="step-links">
        {% if obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ obj.number }} of {{ obj.paginator.num_pages }}.
        </span>

        {% if obj.has_next %}
            <a href="?page={{ obj.next_page_number }}">next</a>
            <a href="?page={{ obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
