{% extends 'base.html' %}

{% load i18n static helpers %}

{% block extra_style %}
  <link href="{% static 'lib/css/login.css' %}?{% get_setting_value 'PROJECT_VERSION' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{% translate 'Login' %}{% endblock %}

{% block parent_navbar %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-header">
            <h3 class="pt-3 font-weight-bold">{% translate 'Sign In' %}</h3>
            {% for error in form.non_field_errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="panel-body p-3">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group py-2">
                <div class="input-field">
                  <span class="far fa-user p-2"></span>
                   {{ form.username }}
                </div>
              </div>
              <div class="form-group py-1 pb-2">
                <div class="input-field">
                  <span class="fas fa-lock px-2"></span>
                  {{ form.password }}
                    <div class="btn bg-white text-muted fa-eye-toggle">
                      <span class="far fa-eye-slash"></span>
                    </div>
                </div>
              </div>
              <button class="btn btn-primary btn-block mt-3">
                {% translate 'Sign In' %}
              </button>
              <div class="text-center pt-4 text-muted">
                {% if registered %}
                  {% translate 'Now you can Sign In' %}
                {% else %}
                  {% translate 'Don\'t have an account?' %}
                  <a class="text-decoration-none" href="{% url 'register' %}">{% translate 'Sign up' %}</a>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  <script src="{% static 'lib/js/helpers/form.js' %}?{% get_setting_value 'PROJECT_VERSION' %}"></script>
{% endblock %}
