{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Login' %}{% endblock %}

{% block content %}
  {% if registered %}
    <h2>{% translate 'Now you can Sign In' %}</h2>
  {% else %}
    <h2>Log In</h2>
    {% translate 'Do not have an account?' %}
    <a class="text-decoration-none" href="/register/">{% translate 'Sign Up' %}</a>
  {% endif %}
  <hr>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">{% translate 'Sign In' %}</button>
  </form>
{% endblock %}
