{% extends 'base.html' %}

{% load i18n static helpers %}

{% block extra_style %}
  <link
    href="{% static 'lib/css/profile/main.css' %}?{% get_setting_value 'PROJECT_VERSION' %}"
    rel="stylesheet"
    media="screen"
  >
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row gutters">
      {% block link_block %}
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
          <div class="card h-100">
            <div class="card-body">
              <div>
                {% with request.resolver_match.url_name as url_name %}
                  <ul class="list-group">
                    <a href="{% url 'mail:settings' %}" class="text-decoration-none">
                      <li class="list-group-item {% if url_name == 'feed' %}active{% endif %}">
                        {% translate 'Feed' %}
                      </li>
                    </a>
                  </ul>
                {% endwith %}
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
          <div class="card h-100">
            <div class="card-body">
              {% block feed_content %}
              {% endblock %}
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}