{% extends 'base_site.html' %}

{% load i18n static helpers %}

{% block extra_style %}
  <link
    href="{% static 'lib/css/admin/main.css' %}?{% get_setting_value 'PROJECT_VERSION' %}"
    rel="stylesheet"
    media="screen"
  >
{% endblock %}

{% block title %}{% translate 'Profile' %}{% endblock %}

{% block side_panel_body %}
  <ul class="list-group w-100">
      <li class="list-group-item border-0">
        <img
          src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/admin/profile.png' %}{% endif %}"
          width="240"
          height="240"
        />
      </li>
      <li class="list-group-item border-0">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#{{ user_form.avatar.id_for_label }}-modal"
        >
        {% if user.avatar %}
          {% translate 'Change profile image' %}
        {% else %}
          {% translate 'Upload profile image' %}
        {% endif %}
        </button>
      </li>
  </ul>
{% endblock %}

{% block main_content %}
  Username: {{ user }}
  <br />
  Nickname: {{ user.nick }}

  {% include 'admin/profile/wall.html' with wall_message_form=wall_message_form messages=wall_messages %}

  {% if errors %}
    {% include 'admin/modals/error.html' with errors=errors %}
  {% endif %}
  {% include 'admin/modals/upload.html' with field=user_form.avatar %}
{% endblock %}

{% block extra_script %}
  {% if errors %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('#errors-modal').modal('show');
      });
    </script>
  {% endif %}
{% endblock %}
