{% extends 'base_site.html' %}

{% load i18n static helpers %}

{% block extra_style %}
  <link
    href="{% static 'lib/css/admin/main.css' %}?{% get_setting_value 'PROJECT_VERSION' %}"
    rel="stylesheet"
    media="screen"
  >
{% endblock %}

{% block title %}
  {{ user.get_full_name }}
{% endblock %}

{% block side_panel_body %}
  <div class="list-group w-100">
    <div class="list-group-item border-0 text-center">
      <img
        src="{% if user.avatar %}{{ user.get_avatar_thumbnail_url }}{% else %}{% static 'img/admin/profile.png' %}{% endif %}"
      />
    </div>
    {% if user == request.user %}
      <div class="list-group-item border-0 text-center">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#{{ user_form.avatar.id_for_label }}-modal"
        >
          {% if user.avatar %}
            {% translate 'Change profile image' %}
          {% else %}
            {% translate 'Upload profile image' %}
          {% endif %}
        </button>
      </div>
      <div class="list-group-item border-0 text-center">
        <a
          class="btn btn-primary"
          href="{% url 'mail:communication' %}"
        >
          {% translate 'Communication' %}
        </a>
      </div>
    {% else %}
      <div class="list-group-item border-0 text-center">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#compose-{{ user.pk }}-modal"
        >
          {% translate 'Compose' %}
        </button>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block main_content %}
  Username: {{ user }}
  <br />
  Nickname: {{ user.nick }}

  {% include 'admin/profile/wall.html' with wall_message_form=wall_message_form messages=wall_messages %}

  {% if user == request.user %}
    {% if errors %}
      {% include 'admin/modals/error.html' with errors=errors %}
    {% endif %}

    {% include 'admin/modals/upload.html' with field=user_form.avatar %}

    {% else %}
      {% include 'admin/modals/profile.html' with user=user form=compose_form %}
  {% endif %}
{% endblock %}

{% block extra_script %}
  {% if errors %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('#errors-modal').modal('show');
      });
    </script>
  {% endif %}
{% endblock %}
