{% load i18n static helpers %}

<hr />

<form method="POST">
  {% csrf_token %}

  {% for field in wall_message_form %}
    <div class="form-group py-2">
      <div class="textarea-field">
        {{ field }}
      </div>
    </div>
  {% endfor %}
  <button class="btn btn-primary btn-block mt-3" name="form_name" value="wall_message_form">
    {% translate 'Post' %}
  </button>
</form>

<hr />

{% for message in messages %}
  {% include 'admin/profile/wall_message.html' with message=message %}
  <hr />
{% endfor %}

<ul class="pagination {% if messages.paginator.num_pages == 1 %}d-none{% endif %}">
    {% if messages.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?wall_page={{ messages.previous_page_number }}">
          {% translate 'Previous' %}
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="">
          {% translate 'Previous' %}
        </a>
      </li>
    {% endif %}

    <li class="page-item active">
      <a class="page-link">
        {{ messages.number }} {% translate 'of' %} {{ messages.paginator.num_pages }}
      </a>
    </li>

    {% if messages.has_next %}
      <li class="page-item">
        <a class="page-link" href="?wall_page={{ messages.next_page_number }}">
          {% translate 'Next' %}
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">
          {% translate 'Next' %}
        </a>
      </li>
    {% endif %}
</ul>
